{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/new_medicine.css')}}">
{% endblock %}

{% block title %} 
Patient page 
{% endblock %}

{% block body %}

{% if not medicine %}
<div class="new_medicine"> 
  <h1 class="new_medicine_header"> Medicine</h1>
  <form action="{{url_for('New_medicine')}}"method="POST"> 
    <label for="Mname">Medicine name</label>
        <input type="text" name="Mname" placeholder="Enter Disease name" required id="Mname">
    <label for="Mname">Medicine price</label>
        <input type="number" name="Mprice" placeholder="Enter Medicine Price" required id="Mprice">    
     <button>Submit</button>
  </form>
</div>
{% else %}
<div class="edit_medicine">
  <h1 class="edit_medicine_header">Edit Medicine</h1>
  <form action="#"method="POST">
    <label for="Mname">Medicine name</label>
        <input type="text" name="Mname"  required id="Mname" value="{{ medicine.name }}"> 
    <label for="Mname">Medicine price</label>
        <input type="number" name="Mprice"  required id="Mprice" value="{{ medicine.price }}"> 
    
   <button>Submit</button>
  </form>
</div>
{% endif %}
{% endblock %}