.new_medicine_header, .edit_medicine_header{
    color: var(--white);
    padding: 1rem;
}

.side-nav-menu{
    display: none;
  }

.side-menu{
    display: none;
  }


  form{
    margin-top: 2rem;
    background-color: var(--dark-green);
    padding: 1rem;
    border-radius: 0.8rem;
    width: 100%;
    gap: 1rem;
  }
  
.new_medicine, .edit_medicine {
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--dark-green);
    border: 2px;
    color: var(--white);
    flex-grow: 1;
    justify-self: center;
}

label{
    color: var(--white);
}

@media screen and (max-width: 700px) {
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
  }

  .new_medicine, .edit_medicine {
    width: 75%;
  }

}

/* ⬇️ From 600px and below */
@media screen and (max-width: 600px) {
    form {
      padding: 0.8rem;
    }
  
    .content-area{
        padding: 1rem;
    }

    .new_medicine, .edit_medicine {
      padding: 0.8rem;
      width: 80%;
    }
  }
  
  /* ⬇️ From 500px and below */
  @media screen and (max-width: 500px) {
    form {
      gap: 0.8rem;
    }
    

    .new_medicine, .edit_medicine {
      padding: 0.7rem;
      width: 100%;
    }

    .content-area{
        padding: 1rem;
    }
  }
  
  /* ⬇️ From 400px and below */
  @media screen and (max-width: 400px) {
  
    .new_medicine, .edit_medicine {
      font-size: 0.95rem;
    }
  }
  
  /* ⬇️ From 300px and below */
  @media screen and (max-width: 300px) {
    form {
      padding: 0.5rem;
    }
  
    .new_medicine, .edit_medicine {
      padding: 0.5rem;
      font-size: 0.9rem;
      width: max-content;
    }
  }