.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  max-width: 40%;
  margin: auto;
  padding: 2rem;
  background: var(--white);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.auth-container h1 {
  color: var(--black);
  font-size: 1.8rem;
}

form {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.input {
  display: grid;
  gap: 0.3rem;
}

label {
  color: var(--black);
}

input,
select {
  background-color: var(--light-grey);
  width: 100%;
}

input::placeholder {
  color: var(--grey);
}

input:focus,
select:focus {
  outline: none;
}

#input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-grey);
  border-radius: var(--radius-s);
  padding-right: 1em;
}

#input i {
  cursor: pointer;
  color: var(--green);
}

.extend,
.btn {
  grid-column: 1/3;
}

.btn {
  background-color: var(--light-green);
  margin-top: 1rem;
}

.btn span {
  color: var(--white);
}

.auth-footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: var(--black);
}

.auth-footer a {
  color: var(--yellow);
  text-decoration: none;
  font-weight: 500;
}
