 .medicine_stock_header{
    color: var(--white);
    padding: 1rem;
}

.side-nav-menu{
    display: none;
  }

.side-menu{
    display: none;
  }

  form{
    margin-top: 1.5rem;
    background-color: var(--dark-green);
    padding: 1rem;
    border-radius: 0.8rem;
    width: 100%;
    gap: 1rem;
  }

.medicine_stock {
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--dark-green);
    border: 2px;
    color: var(--white);
    flex-grow: 1;
    justify-self: center;
}

label{
    color: var(--white);
}