{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block title %}
{{ message }}
{% endblock %}

{% block nav %}
<a href="{{ url_for('admin.clinic_branches') }}" class="nav-item">
  <i class="fas fa-chevron-left"></i>
  Back
</a>
{% endblock %}

{% block body %}
<div class="container">
  <div class="error-box">
    <div class="error-title">
      <h1>{{ message }}</h1>
    </div>
    <div class="error-img">
      <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
    <div class="error-info">
      <p>{{ error }}</p>
    </div>
    <div class="error-actions">
      <a href="{{ url_for('admin.clinic_branches') }}">
        <button>Back Home</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}