<!DOCTYPE html>
<html lang="en">
{% block head %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{url_for('static',filename='image/Favicon/favicon-32x32.png')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>Terra Natural Herbs | {% block title %}{% endblock %}
  </title>
</head>
{% endblock %}

<body>
  <div class="content-box">
    <aside class="sidebar">
      <div class="sidebar-header">
        <a href="{{ url_for('admin.clinic_branches') }}">
          <img src="{{ url_for('static', filename='image/logo.webp') }}" alt="Clinic Logo">
        </a>
        <span onclick="closeSideBar()" id="close-sidebar">&Cross;</span>
      </div>
      <nav class="nav">
        {% block nav %} {% endblock %}
      </nav>
      <div class="sidebar-footer">
        {% if current_user.is_authenticated %}
        {% if clinic and current_user.staff_role.name == "Admin" %}
        <a id="branch-link" href="{{ url_for('admin.clinic_branches') }}">
          <span title="{{ clinic.name }}">{{ clinic.name|truncate(20) }}</span>
          <i class="fas fa-chevron-right"></i>
        </a>
        {% elif current_user.staff_role.name != "Admin" %}
        <div id="branch-link">
          <span>{{ current_user.clinic_staff.name }}</span>
        </div>
        {% endif %}
        {% endif %}
        <div class="user-profile">
          {% if current_user.is_authenticated %}
          <div class="user-info">
            <div class="user-info-box nav-item" data-tab="profile">
              <h4>{{ current_user.first_name }} {{ current_user.last_name }}</h4>
              <p>{{ current_user.staff_role.name }}</p>
            </div>
            <a href="{{ url_for('auth.logout') }}">
              <i class="fas fa-right-from-bracket"></i>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </aside>
    <main class="main-content">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message flash-{{ category }}">
          <div class="flash-content">
            <p>{{ message }}</p>
          </div>
          <button class="flash-close" aria-label="Close message">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <div class="hamburger" onclick="openSideBar()">
        <p>&#9776;</p>
      </div>
      {% block body %}{% endblock %}
    </main>
  </div>

  <script src="{{ url_for('static',filename='js/base.js') }}"></script>
  {% block script %}{% endblock %}
</body>

</html>