{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block title %}
Signin
{% endblock %}

{% block nav %}
<a href="{{ url_for('admin.dashboard') }}" class="nav-item">
  <i class="fas fa-chevron-left"></i>
  Back To Dashboard
</a>
{% endblock %}

{% block body %}
<div class="container">
  <div class="auth-container">
    <h1>Login to your account</h1>
    <form method="post">
      {{ form.csrf_token }}
      <div class="input">
        {{ form.email_address.label }}
        {{ form.email_address(placeholder="Enter Email Address", class="name") }}
      </div>
      <div class="input">
        {{ form.password.label }}
        <div id="input">
          {{ form.password(placeholder="Enter Password", class="name password") }}
          <i class="fa fa-eye password-toggle"></i>
        </div>
      </div>
      <button class="btn" type="submit">
        <span class="button--text">Sign In</span>
      </button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}