{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block title %}
Reset Password
{% endblock %}

{% block body %}
<div class="overlay">
  <div class="container">
    <div class="auth-container">
      <h1>Reset Password</h1>
      <form method="post">
        {{ form.csrf_token }}
        <div class="input">
          {{ form.email_address.label }}
          {{ form.email_address(placeholder="Enter Email Address", class="name") }}
        </div>
        <div class="input">
          {{ form.new_password.label }}
          <div id="input">
            {{ form.new_password(placeholder="Enter New Password", class="name password") }}
            <i class="fa fa-eye password-toggle"></i>
          </div>
        </div>
        <div class="input">
          {{ form.confirm_password.label }}
          <div id="input">
            {{ form.confirm_password(placeholder="Retype New Password", class="name password") }}
            <i class="fa fa-eye password-toggle"></i>
          </div>
        </div>
        <button class="btn" type="submit">
          <span class="button--text">Update Password</span>
        </button>
      </form>
      <div class="auth-footer">
        <p><a href="{{ url_for('auth.signin') }}">Back to Login</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}